body {
    cursor: url(https://mmo.yunagrp.com/cusor/Normal.gif), auto;
    font-family: Arial, sans-serif;
    background-image: url('https://images3.alphacoders.com/138/thumb-1920-1385776.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; /* Đảm bảo toàn màn hình */
}

.container {
    
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: 80%;
    text-align: center; /* Căn giữa nội dung trong container */
}

/* Tiêu đề với hiệu ứng đổi màu */
h1 {
    color: #333;  
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: bold;
    animation: changeColor 5s infinite; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}

/* Hiệu ứng đổi màu */
@keyframes changeColor {
    0% { color: #007BFF; }  
    15% { color: #ee06c7; }  
    25% { color: #FF5733; }  
    45% { color: #2112ff; }  
    50% { color: #FFC107; }  
    65% { color: #e7aede; }  
    75% { color: #9B59B6; }  
    85% { color: #03dffc; }  
    100% { color: #007BFF; }
}
@media (max-width: 768px) {
    .container {
        width: 95%; /* Mở rộng hơn trên điện thoại */
     
    }

    h1 {
        font-size: 28px; /* Giảm kích thước tiêu đề một chút để vừa màn hình */
    }

    #login-form label {
        font-size: 1.5rem; /* Tăng kích thước chữ nhãn */
    }

    #login-form input {
        font-size: 100%; /* Tăng kích thước chữ trong ô nhập */
        padding: 15px; /* Tăng khoảng cách bên trong ô nhập */
    }

    button {
        font-size: 1.5rem; /* Tăng kích thước chữ nút bấm */
        padding: 15px; /* Làm cho nút lớn hơn */
    }
}

/* Nút bấm */
button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #d02525bf;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    background-color: #45a049;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.login-form-for {
    display: flex;
    flex-direction: column;

    text-align: start;
}
.login-form-for label{
    font-size: 1.3rem;
}
.login-form-for input{
border-radius: 20px;
    font-size: 2rem;
}
.register-form-for{
    display: flex;
    flex-direction: column;
    text-align: start;
    
}
.register-form-for label{
    border-radius:20px ;
    font-size: 1.3rem;
}
.register-form-for input{
    border-radius: 20px;
    font-size: 2rem;
}
